<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表</title>
</head>
<body>

<h2>表</h2>

<div class="content" th:each="memberEntry,memberStat:${alldatacontrol}" th:if="${msg_biao} eq 表">
    <h4 th:text="${memberEntry.value.title}"></h4>
    <p th:text="${memberEntry.value.txt}"></p>
</div>

</body>

<style>
    p{
        font-size:20px;
        display:inline;
        text-indent:2em;
        padding-left:2em;
        padding-right:2em;
        font-family:宋体;
    }
</style>

</html>