<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>data</title>
</head>
<body>
<h2>数据结构知识点管理系统<h2>

    <div>
        <form action="/de" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,250,250); font-size:30px" type="submit" value="内容修改">
        </form>
    </div>


    <div>
        <form action="/Tree" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,255,0); font-size:20px" type="submit" value="树">
        </form>
    </div>

    <div>
        <form action="/tu" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,255,0); font-size:20px" type="submit" value="图">
        </form>
    </div>

    <div>
        <form action="/biao" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,255,0); font-size:20px" type="submit" value="表">
        </form>
    </div>

    <div>
        <form action="/shuzu" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,255,0); font-size:20px" type="submit" value="数组">
        </form>
    </div>

    <div>
        <form action="/paixu" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,255,0); font-size:20px" type="submit" value="排序">
        </form>
    </div>

    <div>
        <form action="/duilie" method="post">
            <input  style=" font-family:黑体; background-color:rgb(255,255,0); font-size:20px" type="submit" value="队列">
        </form>
    </div>









    <div>
        <form action="/login" method="post">
            <input style=" background-color:rgb(255,0,0)" type="submit" value="返回">
        </form>
        <h2 th:utext="${msg2}"></h2>
    </div>


</body>
</html>