<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data</title>
</head>
<body>
<h2>数据结构知识点管理系统<h2>

    <div>
        <form action="/biao" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="1.表">
        </form>

    </div>

    <div>
        <form action="/shu" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="2.树">
        </form>

    </div>

    <div>
        <form action="/tu" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="3.图">
        </form>

    </div>

    <div>
        <form action="/paixu" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="4.排序">
        </form>

    </div>

    <div>
        <form action="/shuzu" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="5.数组">
        </form>

    </div>

    <div>
        <form action="/duiheduizhan" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="6.堆和堆栈">
        </form>

    </div>

    <div>
        <form action="/zhanheduilie" method="post">
            <input style=" background-color:rgb(255,255,0)" type="submit" value="7.栈和队列">
        </form>

    </div>


    <div>
        <form action="/login" method="post">
            <input style=" background-color:rgb(255,0,0)" type="submit" value="返回">
        </form>
        <h2 th:utext="${msg2}"></h2>
    </div>


</body>
</html>