<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>排序</title>
</head>

<body>
<h2>排序</h2>

<div class="content" th:each="memberEntry,memberStat:${alldatacontrol}" th:if="${msg_paixu} eq '排序'" >
    <h4 th:text="${memberEntry.value.title}"></h4>
    <p th:text="${memberEntry.value.txt}"></p>
</div>

<div>
    <form action="/data" method="post">
        <input style=" background-color:rgb(0,0,255)" type="submit"  value="返回">
    </form>
    <h2 th:utext="${msg1}"></h2>
</div>


</body>

<style>
    p{
        font-size:20px;
        display:inline;
        text-indent:2em;
        padding-left:2em;
        padding-right:2em;
        font-family:宋体;
    }
</style>
</html>