<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shuzu</title>
</head>
<h1>5 数组</h1>
<body>
    <div>

        <p>&nbsp;&nbsp;数组是一种连续存储线性结构，元素类型相同，大小相等，数组是多维的，通过使用整型索引值来访问他们的元素，数组尺寸不能改变。</p>
        <p>&nbsp;&nbsp;数组的优点：存取速度快。</p>
        <p>&nbsp;&nbsp;数组的缺点：事先必须知道数组的长度；插入删除元素很慢；空间通常是有限制的；需要大块连续的内存块；插入删除元素的效率很低。</p>
    </div>

    <div>
        <form action="/data" method="post">
            <input style=" background-color:rgb(0,0,255)" type="submit"  value="返回">
        </form>
        <h2 th:utext="${msg1}"></h2>
    </div>


</body>

    <style>
        p{
            font-family:宋体;
            font-size:20px;
        }
    </style>
</html>