<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zhanheduilie</title>
</head>
<h1>7 栈和队列</h1>
<body>
    <div>

        <p>&nbsp;&nbsp;栈（Stack）实现了一个先进后出，后进先出的数据结构。我们将栈可以看成一个放光盘的箱子，箱口与略大与光盘。然后往箱子里面放东西叫做入栈；往箱子里面取东西叫做出栈；箱子的底部叫做栈底；箱子的顶部叫做栈顶。</p>
        <p>&nbsp;&nbsp;队列可以看成我们平时排队打饭。有新的人加入了称为入队；队头的人打完饭了称出队。相对于栈而言，队列的特性是：先进先出，后进后出。</p>

    </div>

    <div>
        <form action="/data" method="post">
            <input style=" background-color:rgb(0,0,255)" type="submit"  value="返回">
        </form>
        <h2 th:utext="${msg1}"></h2>
    </div>
</body>
    <style>
        p{
            font-family:宋体;
            font-size:20px;
        }
    </style>
</html>